<div class="container" >  
    <form name="scholar" id="scholar" class="form-floating">
        <input type="hidden" value="<%= data.idscholar %>">
      <h3>Edit Scholar</h3>
      <!-- Select manager -->
      <label for="manager">Select Manager</label>
      <div class="select">
        <select name="manager" id="manager" form="scholar">
          <option value="1">Mathias</option>
          <option value="2">Martin</option>
          <span class="focus"></span>
        </select>
      </div>
      <fieldset>
        <input name="username" value="<%= data.username %>" id="username" type="text" tabindex="1" class="form-control" required autofocus>
      </fieldset>
      <fieldset>
        <input  name="account" value="<%= data.account %>" id="account" type="text" tabindex="2" class="form-control" required>
      </fieldset>
      <fieldset>
        <input  name="email" value="<%= data.email %>" id="email" type="email" tabindex="3" class="form-control" required>
      </fieldset>
      <fieldset>
        <input  name="scholar_ronin" value="<%= data.scholar_ronin %>" id="scholar_ronin" type="text" tabindex="4" class="form-control" required>
      </fieldset>
      <fieldset>
        <input  name="manager_ronin" value="<%= data.manager_ronin %>" id="manager_ronin" type="text" tabindex="4" class="form-control" required>
      </fieldset>
      <!-- Start date -->
      <fieldset>
        <input id="start_date" class="form-select" value="<%= data.start_date %>" name="start_date" type="date" tabindex="5" class="form-control" required> 
        <label for="start_date">Start date</label>
      </fieldset>
      <!-- Image -->
      <fieldset>
        <img style="width: 10%;" class="img-fluid img-thumbnail" src="../pictures/<%= data.picture %>" alt="<%= data.username %>">
      </fieldset>
      <fieldset>
        <textarea name="note" id="note" tabindex="7" class="form-control" required><%= data.note %> </textarea>
      </fieldset>
      <fieldset>
        <input placeholder="Password" value="<%= data.password %>" id="password" name="password" type="text" tabindex="8" class="form-control">
      </fieldset>
      <!-- Buttons -->
      <fieldset>
        <input name="edit" type="submit" class="btn btn-success" onclick="editBtn();" value="Save Edit">
        <input name="delete" type="submit" class="btn btn-danger" onclick="DeleteBtn();" value="Delete">
      </fieldset>
    </form>
    <script>
        // Buttons
        function editBtn() {
            document.getElementById("scholar").method = "post";
            document.getElementById("scholar").action = "/edit/<%= data.idscholar %>";
            document.getElementById('scholar').submit();
        }
        function DeleteBtn() {
            z = confirm("Are you sure?!");
            if(z == true) {
              document.getElementById("scholar").method = "post";
              document.getElementById("scholar").action = "/delete/<%= data.idscholar %>";
              document.getElementById('scholar').submit();
            }
            else return;            
        }
        // Set selected in dropdown
        document.getElementById("manager").selectedIndex = "<%= data.manager_idmanager -1 %>";
    </script>
  </div>
</div>
