<div class="containerListScholar">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <input style="float: left;" type="text" id="myInput" onkeyup="searchList()" placeholder="Search for scholars..">
                    <h5 class="card-title m-b-0" style="position: relative; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center;">Scholars</h5>
                        <div id="select" class="select" style="float: right; width: 75px;">
                            <select onchange="selectManager();" name="manager" id="manager" form="scholar">
                                <option value="0">All Scholars</option>  
                                <option value="1">MJO Scholars</option>
                                <option value="2">MLY Scholars</option>
                                <span class="focus"></span>
                            </select>
                        </div>
                </div>
                <div class="table-responsive-xxl">
                    <table class="table table-striped" id="listTable" >
                        <thead class="thead-light">
                            <tr>
                                <th><img style="width:75px;height:60px;" src="https://cdn.coinranking.com/nft/0xF5b0A3eFB8e8E4c201e2A935F110eAaF3FFEcb8d/169579.png?size=autox430" alt="Italian Trulli"></th>
                                <th scope="col">Username</th>
                                <th scope="col">Account</th>
                                <th scope="col">Email</th>
                                <th scope="col">Scholar Address</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Picture</th>
                                <th scope="col">Note</th>
                                <th scope="col">Account Address</th>
                                <th scope="col">Manager</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(scholar => { %>
                                <!-- tr ID and Name are used for sorting and searching -->
                                <tr id="<%= scholar.username %>" name="<%= scholar.manager_idmanager %>">
                                    <td><a href="select/<%= scholar.idscholar %>" class="btn btn-secondary btn-sm">Edit</td>
                                    <td><a href="profile/<%= scholar.idscholar %>"><%= scholar.username %></td>
                                    <td><%= scholar.account %></td>
                                    <td><%= scholar.email %></td>
                                    <!-- Copy Button -->
                                    <td><p class="pList" id="copyAddress<%= scholar.idscholar %>"><%= scholar.scholar_ronin %></p>
                                        <button onclick="CopyToClipboard('copyAddress<%= scholar.idscholar %>')" style="border: 0px;">
                                            <img href="#" style="width: 20px;  cursor: -webkit-grabbing; cursor: grabbing;" src="copy.png" />
                                        </button></td>
                                    <td><%= scholar.start_date %></td>
                                    <td><a href="/profile/<%= scholar.idscholar %> %>"><img style="max-width: 50px;" href="#" class="img-thumbnail" src="pictures/<%= scholar.picture %>" alt="<%= scholar.username %>"></a></td>
                                    <td ><p class="pList"><%= scholar.note %></p></td>
                                    <!-- Copy Button -->
                                    <td><p class="pList" id="copyAddress2<%= scholar.idscholar %>"><%= scholar.manager_ronin %></p>
                                        <button onclick="CopyToClipboard('copyAddress2<%= scholar.idscholar %>')" style="border: 0px;">
                                        <img href="#" style="width: 20px;  cursor: -webkit-grabbing; cursor: grabbing;" src="copy.png" />
                                   </button></td>
                                    <% if (scholar.manager_idmanager < 2) { %>
                                        <td>Mathias</td>
                                        <%} else { %>
                                         <td>Martin</td>
                                    <% } %>
                                </tr>
                            <%  }) %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    /* if this is selected send back list with scholars of selected manager */
    function selectManager() { 
        // Declare variables
        var table, tr, selected, row;
        table = document.getElementById("listTable");
        tr = table.getElementsByTagName("tr");
        selected = document.getElementById("manager").value;
        // Loop through TR and check if selected value
        for (i = 1; i < tr.length; i++) {
            if ((selected === tr[i].getAttribute("name")[0]) || (selected === "0")) {
                    tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
    

    // Search function. Searches the ID of the tablerow.
    function searchList() {
        // Declare variables
        var input, filter, table, tr, i, txtValue, row;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("listTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all list items, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
            row = tr[i].id;
            if (row) {
                if (row.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }    
    
    /* Copy Address */
    function CopyToClipboard(id) {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
    }

    /* Copy Address */
    function CopyToClipboard2(id) {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
    }
</script>

