<div class="container emp-profile">
        <!-- Change picture -->
        <div class="row">
            <div class="col-md-4">
                <form action="/changePicture/<%= data.idscholar %>" method="post" enctype="multipart/form-data" name="uploadForm" id="uploadForm">
                    <div class="profile-img">
                        <img src="../pictures/<%= data.picture %>" alt="" style="max-height: 170px; object-fit: cover; object-position: center;"/>
                        <div class="file btn btn-lg btn-primary" name="choosePic" onchange="changePicBtn()">
                            Change Picture
                            <input type="file" id="picture" name="picture">
                        </div>
                    </div>
                </form> 
            </div>
                   
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                <%= data.username %> 
                            </h5>
                            <p class="proile-rating">RANKINGS : <span>
                                <%= scholarRankingsList.findIndex(x => x.username === data.username) + 1 %>/<%= scholarRankingsList.length %>
                            </span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Accounting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">

            <!-- ######### Modal Start ######### -->
            <!-- Trigger the modal with a button -->        
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Open Picture</button>

            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><%= data.username %></h4>
                </div>
                <div class="modal-body">
                    <img src="../pictures/<%= data.picture %>" style="max-width: 450px;" alt=""/>
                    <p>Some text</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div>

            </div>
            </div>
            <!-- ######### Modal End  ######### -->
            </div>
        </div>
        <div class="row" style="height: fit-content;">
            <div class="col-md-4">
                <!-- Scholars Axies displayed and changed here -->
                <div class="profile-work">
                    <p><%= data.username %>'s Axie Links</p>
                    <div class="form-group">
                        <form action="/change_axie_1/<%= data.idscholar %>" method="POST">
                            <a href="https://marketplace.axieinfinity.com/axie/<%= data.axie_1 %>?referrer=axie.zone"><img style="height: 70px;" src="https://storage.googleapis.com/assets.axieinfinity.com/axies/<%= data.axie_1 %>/axie/axie-full-transparent.png" alt=""/></a>
                            <input style="width: 70px; display:inline; font-size: 9px;" name="axie_1" class="form-control input-sm" id="inputsm" type="number" placeholder="New ID" required>
                            <input type="submit" class="btn btn-primary btn-sm" value="Sub" style="font-size: 11px;"><br/>
                        </form>
                    </div>
                    <div class="form-group">
                        <form action="/change_axie_2/<%= data.idscholar %>" method="POST">
                            <a href="https://marketplace.axieinfinity.com/axie/<%= data.axie_2 %>?referrer=axie.zone"><img style="height: 70px;" src="https://storage.googleapis.com/assets.axieinfinity.com/axies/<%= data.axie_2 %>/axie/axie-full-transparent.png" alt=""/></a>
                            <input style="width: 70px; display:inline; font-size: 9px;" name="axie_2" class="form-control input-sm" id="inputsm" type="number" placeholder="New ID" required>
                            <input type="submit" class="btn btn-primary btn-sm" value="Sub" style="font-size: 11px;"><br/>
                        </form>
                    </div>
                    <div class="form-group">
                        <form action="/change_axie_3/<%= data.idscholar %>" method="POST">
                            <a href="https://marketplace.axieinfinity.com/axie/<%= data.axie_3 %>?referrer=axie.zone"><img style="height: 70px;" src="https://storage.googleapis.com/assets.axieinfinity.com/axies/<%= data.axie_3 %>/axie/axie-full-transparent.png" alt=""/></a>
                            <input style="width: 70px; display:inline; font-size: 9px;" name="axie_3" class="form-control input-sm" id="inputsm" type="number" placeholder="New ID" required>
                            <input type="submit" class="btn btn-primary btn-sm" value="Sub" style="font-size: 11px;"><br/>
                        </form>
                    </div>
                    <!-- Copy account address button -->
                    <button id="btnCopy2" onclick="Copy2()" class="btn btn-outline-info btn-sm">Copy Account Address</button><br>
                    <input id="inputRonin2" type="text" value="<%= data.manager_ronin %>" />
                    <p>Prices</p>
                    SLP in DKK - <%= dkk %> DKK<br/>
                    SLP in USD - <%= usd %> USD<br/>
                </div>
            </div>
            <!-- Start of profile change form -->
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Username</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.username %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Account</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.account %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.email %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Start Date</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.start_date %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>QR Expiry</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.qr_expiry %></p>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                            
                                        </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-19">                        
                                        <form id="editNote" action="/editNote/<%= data.idscholar %>" method="POST">
                                            <textarea name="note" id="note" cols="30" rows="10"><%= data.note %></textarea>
                                            <input name="edit" type="submit" class="btn btn-success btn-sm" value="Save Edit" style="float: right;">                                                                                         
                                        </form>
                                    </div>
                                </div>
                                
                    </div>
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label>Earned this month</label>
                                    </div>
                                    <!-- Insert slp earned -->
                                    <div class="col-md-6">
                                        <form id="earnedForm" action="/profile_earned/<%= data.idscholar %>" method="POST">
                                            <input placeholder="Input SLP Earned" name="slp_earned" id="inputSlp" type="number" required>
                                            <input type="hidden" name="total_earning" value="<%= data.total_earning %>">
                                            <input type="hidden" name="total_slp_account" value="<%= data.total_slp_account %>">
                                            <button class="btn btn-outline-success btn-sm" name="submit" type="submit">Insert</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label>Withdraw Earning</label>
                                    </div>
                                    <!-- Change input back field -->
                                    <div class="col-md-6">
                                        <form action="/profile_earned_withdraw/<%= data.idscholar %>" method="POST">
                                            <input placeholder="Withdraw" name="profile_earned_withdraw" type="number" required>
                                            <input type="hidden" name="total_earning" value="<%= data.total_earning %>">
                                            <button class="btn btn-outline-danger btn-sm" name="submit" type="submit">Withdraw</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>SLP Withdrawn</label>
                                    </div>
                                    <!-- SLP Withdrawn from account -->
                                    <div class="col-md-6">
                                        <form action="/profile_withdrawn/<%= data.idscholar %>" method="POST">
                                            <input placeholder="Input SLP Withdrawn" name="slp_account_withdrawn" type="number" required>
                                            <input type="hidden" name="total_slp_account" value="<%= data.total_slp_account %>">
                                            <button class="btn btn-outline-dark btn-sm" name="submit" type="submit">Withdraw</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Change Scholar Cut</label>
                                    </div>
                                    <div class="col-md-6">
                                        <form action="/profile_cut/<%= data.idscholar %>" method="POST">
                                            <input placeholder="Set new Scholar %" name="scholar_cut" type="number" required>
                                            <button class="btn btn-outline-dark btn-sm" name="submit" type="submit">Insert</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Manager Cut</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= 100 - data.scholar_cut %>% - <%= manslp %> SLP - <%= mandkk %> DKK - <%= manUSD %>$</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Scholar Cut</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.scholar_cut %>% - <%= scholSLP %> SLP - <%= scholDKK %> DKK - <%= scholUSD %>$</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Average Day Earnings</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.avg_earning %></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total SLP On Account</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.total_slp_account %> SLP</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Last Month Earnings</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.last_month_earning %> SLP</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Earning</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><%= data.total_earning %> SLP</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button id="btnCopy" onclick="Copy()" class="btn btn-outline-info btn-sm">Copy Scholar Address</button>
                                    </div>
                                    <div class="col-md-6">
                                        <input id="inputRonin" type="text" value="<%= data.scholar_ronin %>" />
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col-md-12">                        
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
</div>

<script>
    /* Change Picture button */
    function changePicBtn() {
        document.getElementById('uploadForm').submit();
        console.log("nuts")
    }

    /* Copy Scholars Address */
    const inputRonin = document.getElementById('inputRonin');
    const btnCopy = document.getElementById('btnCopy');
    function Copy() {

        inputRonin.select();
        document.execCommand('Copy')
    }

    /* Copy Account Address */
    const inputRonin2 = document.getElementById('inputRonin2');
    const btnCopy2 = document.getElementById('btnCopy2');
    function Copy2() {
        inputRonin2.select();
        document.execCommand('Copy')
    }
</script>