<head>
    <style>
        tr,td {
            border: thin solid white;
        }
        .btnCopy {
            display: inline;
        }
        tr:nth-child(even) {
            background-color: #E3F7FF;
        }
        td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }

        td p {
            width: 100px;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
            margin: 0;
        }
    </style>
</head>

<div class="containerListScholar">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                </div>
                <div class="table-responsive-xxl">
                    <table class="table table-striped" id="listTable" >
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Account</th>
                                <th scope="col">Account Address</th>
                                <th scope="col"><div id="select" class="select" style="float: right; width: 75px;">
                                    <select onchange="selectManager();" name="manager" id="manager" form="scholar">
                                        <option value="0">All Scholars</option>  
                                        <option value="1">Mathias Sch</option>
                                        <option value="2">Martin Sch</option>
                                        <option value="3">Caspar Sch</option>
                                        <span class="focus"></span>
                                    </select>
                                </div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(scholar => { %>
                                <!-- tr ID and Name are used for sorting and searching -->
                                <tr id="<%= scholar.username %>" name="<%= scholar.manager_idmanager %>">
                                    <td><a href="profile/<%= scholar.idscholar %>"><%= scholar.username %></td>
                                    <td><%= scholar.account %></td>
                                    <td><a href="https://marketplace.axieinfinity.com/axie/<%= scholar.axie_1 %>?referrer=axie.zone"><img style="height: 70px;" src="https://storage.googleapis.com/assets.axieinfinity.com/axies/<%= scholar.axie_1 %>/axie/axie-full-transparent.png" alt=""/></a></td>
                                    <td><a href="https://marketplace.axieinfinity.com/axie/<%= scholar.axie_2 %>?referrer=axie.zone"><img style="height: 70px;" src="https://storage.googleapis.com/assets.axieinfinity.com/axies/<%= scholar.axie_2 %>/axie/axie-full-transparent.png" alt=""/></a></td>
                                    <td><a href="https://marketplace.axieinfinity.com/axie/<%= scholar.axie_3 %>?referrer=axie.zone"><img style="height: 70px;" src="https://storage.googleapis.com/assets.axieinfinity.com/axies/<%= scholar.axie_3 %>/axie/axie-full-transparent.png" alt=""/></a></td>
                                    <!-- Copy Button -->
                                    <td><p class="pList" id="copyAddress<%= scholar.idscholar %>"><%= scholar.scholar_ronin %></p>
                                        <button class="btnCopy" onclick="CopyToClipboard('copyAddress<%= scholar.idscholar %>')" style="border: 0px;">
                                            copy<!-- <img href="#" style="width: 20px;  cursor: -webkit-grabbing; cursor: grabbing;" src="copy.png" /> -->
                                        </button></td>
                                    <td ><%= scholar.note %></td>
                                   <% if (scholar.manager_idmanager === 1) { %>
                                        <td>Mathias</td>
                                        <%} else if(scholar.manager_idmanager === 2) { %>
                                        <td>Martin</td>
                                        <%} else if(scholar.manager_idmanager === 3) { %>
                                        <td>Caspar</td>
                                    <% } %>
                                </tr>
                            <%  }) %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>    
/* if this is selected send back list with scholars of selected manager */
    function selectManager() { 
        // Declare variables
        var table, tr, selected, row;
        table = document.getElementById("listTable");
        tr = table.getElementsByTagName("tr");
        selected = document.getElementById("manager").value;
        // Loop through TR and check if selected value
        for (i = 1; i < tr.length; i++) {
            if ((selected === tr[i].getAttribute("name")[0]) || (selected === "0")) {
                    tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }

    /* Copy Address */
    function CopyToClipboard(id) {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand('copy');
        window.getSelection().removeAllRanges();
    }
</script>